@import "config";


.slide{
    padding-top:1%;
    border-width:2px;
    //border-color: red;
    border-style: solid;
    border-width: 1px 0px 1px 0px; 
    /* height: 800px; */
    background-color: black;
}

.text-slide{
    p{
        text-indent: .7em;
        text-align: left;
        font-size: 130%;
        display: block;
        margin-bottom: 1.7em;
        &:first-letter{
            font-size: 160%;
        }
    }
    padding: 4em 14em;
    @include respond-to(md){
       padding: 3em 7em; 
    }
    @include respond-to(sm){
       padding: 2em 5em; 
    }
    @include respond-to(xs){
       padding: 1em 1em; 
       p {
        font-size: 100%;
        &:first-letter{
            font-size: 120%;
        }
       }
    }

}

.statement {
    display: block;
    text-align: center;
    font-size: 200%;
    //margin-bottom: 1em;
    padding: 1em 0;
    width:80%;
    margin: auto;
    color: #c2a55b;

     border-color: #927e4d;
    border-style: dotted;
    border-width: 1px 0 1px;
}

.substatement{
    font-style: italic;
    text-align: center;
    font-size: 120%;
    display: block;
    width:60%;
    margin: 0.1em auto 2em;
    line-height: 1em;
}

.benefits{
    font-style: italic;
    text-align: left;
    font-size: 170%;
    width: 100%;
    margin: 0 auto 1em;
    line-height: .8em;
    ul>li {
        height: 2.5em;
        @include respond-to(xs){
            height: 4.5em;
        }
    }
    border-color: #927e4d;
    border-style: dotted;
    border-width: 1px 0 1px;

    padding-top: 2em;
    padding-bottom: 1em;
}
    

body{
    font-family: 'Cormorant', serif;
    color: #927e4d;
    /* color: #917a44 */
    /* color: #5c523a; */
    background: url('../images/tex.png');
    background-size: 20%;
    text-shadow: 2px 2px 2px black;
}

h1{
    line-height: 35px;
    font-size: 240%;
    font-weight: 300;
    color: #c2a55b;
    @include respond-to(xs){
        font-size: 200%;
    }

}

.subh1{
    display: block;
    margin-top: .5em;
    font-size: 60%;
    line-height: 1px;
    font-style: italic;
    color: #927e4d;
}

.contact{
    display: block;
    width: 40%;
    margin: 1em auto;
    font-size: 180%;
    text-decoration: none;
    color: #c2a55b;
    padding: 0.2em;
    border-color: #c2a55b;
    border-style: solid;
    border-width: 2px;
    border-radius: .5em;
    text-align: center;
    @include respond-to(xs){
        width:90%;
    }
}


