@charset "UTF-8";
/*  EXAMPLE
.block {
  float: left;
  width: 250px;
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}​ */
.color-blue {
  color: #08c; }

.color-cyan {
  color: #0cbeb2; }

.color-green {
  color: #55d426; }

.color-yellow {
  color: #ff9800; }

.color-orange {
  color: #ff9800; }

.color-red {
  color: #ff4e2b; }

.color-magenta {
  color: #b652bf; }

.color-dark-blue {
  color: #002c87; }

.color-dark-cyan {
  color: #00705d; }

.color-dark-green {
  color: #0c9702; }

.color-dark-orange {
  color: #ff7b00; }

.color-dark-yellow {
  color: #ffd900; }

.color-dark-red {
  color: #ff0a02; }

.color-dark-magenta {
  color: #821a8f; }

.color-light-blue {
  color: #acd6e7; }

.color-light-cyan {
  color: #b1e8df; }

.color-light-green {
  color: #c8efb1; }

.color-light-orange {
  color: #ffeaa5; }

.color-light-yellow {
  color: #fff8a9; }

.color-light-red {
  color: #ffc4b3; }

.color-pale-blue {
  color: #d5eaf3; }

.color-light-magenta {
  color: #d294d7; }

.color-pale-cyan {
  color: #d8f3ef; }

.color-pale-green {
  color: #e3f7d8; }

.color-pale-yellow {
  color: #fff4d2; }

.color-pale-yellow {
  color: #fffbd4; }

.color-pale-red {
  color: #ffe1d9; }

.color-pale-magenta {
  color: #e8c9eb; }

.back-color-none {
  background-color: #78a7b4;
  color: white; }

.back-color-blue {
  background-color: #08c;
  color: white; }

.back-color-cyan {
  background-color: #0cbeb2;
  color: white; }

.back-color-green {
  background-color: #55d426;
  color: white; }

.back-color-yellow {
  background-color: #ff9800;
  color: white; }

.back-color-orange {
  background-color: #ff9800;
  color: white; }

.back-color-red {
  background-color: #ff4e2b;
  color: white; }

.back-color-magenta {
  background-color: #b652bf;
  color: white; }

.back-color-dark-blue {
  background-color: #002c87;
  color: white; }

.back-color-dark-cyan {
  background-color: #00705d;
  color: white; }

.back-color-dark-green {
  background-color: #0c9702;
  color: white; }

.back-color-dark-orange {
  background-color: #ff7b00;
  color: white; }

.back-color-dark-yellow {
  background-color: #ffd900;
  color: white; }

.back-color-dark-red {
  background-color: #ff0a02;
  color: white; }

.back-color-dark-magenta {
  background-color: #821a8f;
  color: white; }

.back-color-light-blue {
  background-color: #acd6e7;
  color: white; }

.back-color-light-cyan {
  background-color: #b1e8df;
  color: white; }

.back-color-light-green {
  background-color: #c8efb1;
  color: white; }

.back-color-light-orange {
  background-color: #ffeaa5;
  color: white; }

.back-color-light-yellow {
  background-color: #fff8a9;
  color: white; }

.back-color-light-red {
  background-color: #ffc4b3;
  color: white; }

.back-color-pale-blue {
  background-color: #d5eaf3;
  color: white; }

.back-color-light-magenta {
  background-color: #d294d7;
  color: white; }

.back-color-pale-cyan {
  background-color: #d8f3ef;
  color: white; }

.back-color-pale-green {
  background-color: #e3f7d8;
  color: white; }

.back-color-pale-orange {
  background-color: #fff4d2;
  color: white; }

.back-color-pale-yellow {
  background-color: #fffbd4;
  color: white; }

.back-color-pale-red {
  background-color: #ffe1d9;
  color: white; }

.back-color-pale-magenta {
  background-color: #e8c9eb;
  color: white; }

.slide {
  padding-top: 1%;
  border-width: 2px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  /* height: 800px; */
  background-color: black; }

.text-slide {
  padding: 4em 14em; }
  .text-slide p {
    text-indent: .7em;
    text-align: left;
    font-size: 130%;
    display: block;
    margin-bottom: 1.7em; }
    .text-slide p:first-letter {
      font-size: 160%; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .text-slide {
      padding: 3em 7em; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .text-slide {
      padding: 2em 5em; } }
  @media only screen and (max-width: 767px) {
    .text-slide {
      padding: 1em 1em; }
      .text-slide p {
        font-size: 100%; }
        .text-slide p:first-letter {
          font-size: 120%; } }

.statement {
  display: block;
  text-align: center;
  font-size: 200%;
  padding: 1em 0;
  width: 80%;
  margin: auto;
  color: #c2a55b;
  border-color: #927e4d;
  border-style: dotted;
  border-width: 1px 0 1px; }

.substatement {
  font-style: italic;
  text-align: center;
  font-size: 120%;
  display: block;
  width: 60%;
  margin: 0.1em auto 2em;
  line-height: 1em; }

.benefits {
  font-style: italic;
  text-align: left;
  font-size: 170%;
  width: 100%;
  margin: auto;
  line-height: .8em;
  border-color: #927e4d;
  border-style: dotted;
  border-width: 1px 0 1px;
  padding-top: 2em;
  padding-bottom: 1em; }
  .benefits ul > li {
    height: 2.5em; }
    @media only screen and (max-width: 767px) {
      .benefits ul > li {
        height: 3em; } }

body {
  font-family: 'Cormorant', serif;
  color: #927e4d;
  /* color: #917a44 */
  /* color: #5c523a; */
  background: url("../images/tex.png");
  background-size: 20%;
  text-shadow: 2px 2px 2px black; }

h1 {
  line-height: 35px;
  font-size: 240%;
  font-weight: 300;
  color: #c2a55b; }

.subh1 {
  display: block;
  margin-top: 0.5em;
  font-size: 60%;
  line-height: 1px;
  font-style: italic;
  color: #927e4d; }

/*# sourceMappingURL=../../../../../../../../static/scss/main.css.map */