@import "config";


.slide{
    padding-top:1%;
    border-width:2px;
    //border-color: red;
    border-style: solid;
    border-width: 1px 0px 1px 0px; 
    /* height: 800px; */
    background-color: black;
}

.text-slide{
    p{
        text-indent: 1em;
        text-align: left;
        font-size: 130%;
        display: block;
        margin-bottom: 1.7em;
        &:first-letter{
            font-size: 150%;
        }
    }
    padding: 4em 14em;
    @include respond-to(md){
       padding: 3em 7em; 
    }
    @include respond-to(sm){
       padding: 2em 5em; 
    }
    @include respond-to(xs){
       padding: 1em 1em; 
       p {
        font-size: 100%;
        &:first-letter{
            font-size: 120%;
        }
       }
    }

}

body{
    font-family: 'Cormorant', serif;
    color: #927e4d;
    /* color: #917a44 */
    /* color: #5c523a; */
    background: url('../images/tex.png');
    background-size: 20%;
    text-shadow: 2px 2px 2px black;
}

h1{
    line-height: 35px;
    font-size: 200%;
}

.subh1{
    display: block;
    margin-top: 0.5em;
    font-size: 70%;
    line-height: 1px;
}


